<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.schmeedy.pdt.joomla.ui.JoomlaViewCategory"
            name="Joomla!">
      </category>
      <view
            category="com.schmeedy.pdt.joomla.ui.JoomlaViewCategory"
            class="com.schmeedy.pdt.joomla.ui.server.view.JoomlaServersView"
            icon="platform:/plugin/com.schmeedy.pdt.joomla.common.ui/icons/obj16/joomla.png"
            id="com.schmeedy.pdt.joomla.ui.JoomlaServers"
            name="Joomla! Servers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.schmeedy.pdt.joomla.ui"
            name="Joomla!">
      </category>
      <wizard
            category="com.schmeedy.pdt.joomla.ui"
            class="com.schmeedy.pdt.joomla.ui.project.wizard.NewExtensionProjectWizard"
            icon="platform:/plugin/com.schmeedy.pdt.joomla.common.ui/icons/obj16/joomla.png"
            id="com.schmeedy.pdt.joomla.ui.NewExtensionProject"
            name="Joomla! Extension Project"
            project="true">
      </wizard>
   </extension> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
            class="com.schmeedy.pdt.joomla.ui.preferences.JoomlaServersPreferencePage"
            id="com.schmeedy.pdt.joomla.ui.JoomlaServersPreferencePage"
            name="Joomla! Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="com.schmeedy.pdt.joomla.ui.JoomlaServers"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.schmeedy.pdt.joomla.ui.JoomlaServers">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            <and>
         	  <with
         	  		variable="selection">
     	  		<count
                  value="1">
                </count>
         	  	<iterate>	
	              <instanceof
	                    value="com.schmeedy.pdt.joomla.core.server.cfg.DeploymentRuntime">
	              </instanceof>
	            </iterate>
              </with>
	      	</and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.schmeedy.pdt.joomla.ui.server.handler.DeleteDeploymentRuntimeHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            </reference>
         	
         </activeWhen>        
      </handler>
      <handler
            class="com.schmeedy.pdt.joomla.ui.server.handler.RenameDeploymentRuntimeHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            </reference>
         </activeWhen>
      </handler>
   </extension>
 </plugin>
