<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/joomla_project_ovr.png"
            id="com.schmeedy.pdt.joomla.ui.ExtensionProjectDecoration"
            natureId="com.schmeedy.pdt.joomla.core.JoomlaExtensionNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.schmeedy.pdt.joomla.ui.JoomlaViewCategory"
            name="Joomla!">
      </category>
      <view
            category="com.schmeedy.pdt.joomla.ui.JoomlaViewCategory"
            class="com.schmeedy.pdt.joomla.ui.server.view.JoomlaServersView"
            icon="platform:/plugin/com.schmeedy.pdt.joomla.common.ui/icons/obj16/joomla.png"
            id="com.schmeedy.pdt.joomla.ui.JoomlaServers"
            name="Joomla! Servers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.schmeedy.pdt.joomla.ui.newCategory"
            name="Joomla!">
      </category>
      <wizard
            category="com.schmeedy.pdt.joomla.ui.newCategory"
            class="com.schmeedy.pdt.joomla.ui.project.wizard.NewJoomlaExtensionProjectWizard"
            icon="platform:/plugin/com.schmeedy.pdt.joomla.common.ui/icons/obj16/joomla.png"
            id="com.schmeedy.pdt.joomla.ui.NewExtensionProject"
            name="Joomla! Extension Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.schmeedy.pdt.joomla.ui.importCategory"
            name="Joomla!">
      </category>
      <wizard
            category="com.schmeedy.pdt.joomla.ui.importCategory"
            class="com.schmeedy.pdt.joomla.ui.project.wizard.ImportExtensionWizard"
            icon="platform:/plugin/com.schmeedy.pdt.joomla.common.ui/icons/obj16/joomla.png"
            id="com.schmeedy.pdt.joomla.ui.ImportExtensionPackage"
            name="Import Joomla! Extension">
         <description>
            Import Joomla! extension from an existing installation package.
         </description>
      </wizard>
   </extension> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
            class="com.schmeedy.pdt.joomla.ui.preferences.JoomlaServersPreferencePage"
            id="com.schmeedy.pdt.joomla.ui.JoomlaServersPreferencePage"
            name="Joomla! Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="com.schmeedy.pdt.joomla.ui.JoomlaServers"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.schmeedy.pdt.joomla.ui.JoomlaServers">
         <command
               commandId="com.schmeedy.pdt.joomla.ui.addOrRemoveExtensions"
               label="Add or Remove Extensions ..."
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            <and>
         	  <with
         	  		variable="selection">
     	  		<count
                  value="1">
                </count>
         	  	<iterate>	
	              <instanceof
	                    value="com.schmeedy.pdt.joomla.core.server.cfg.DeploymentRuntime">
	              </instanceof>
	            </iterate>
              </with>
	      	</and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.schmeedy.pdt.joomla.ui.addOrRemoveExtensions"
            name="Add or Remove Extensions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.schmeedy.pdt.joomla.ui.server.handler.DeleteDeploymentRuntimeHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            </reference>
         	
         </activeWhen>        
      </handler>
      <handler
            class="com.schmeedy.pdt.joomla.ui.server.handler.RenameDeploymentRuntimeHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.schmeedy.pdt.joomla.ui.server.handler.AddOrRemoveExtensionsHandler"
            commandId="com.schmeedy.pdt.joomla.ui.addOrRemoveExtensions">
         <activeWhen>
            <reference
                  definitionId="com.schmeedy.pdt.joomla.ui.expressions.DeploymentRuntimeSelection">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.buildpathContainerPage">
      <buildpathContainerPage
            class="com.schmeedy.pdt.joomla.ui.buildpath.JoomlaContainerWizardPage"
            id="com.schmeedy.pdt.joomla.ui.JoomlaBuildpathContainerPage"
            name="Joomla! API"
            nature="com.schmeedy.pdt.joomla.core.JoomlaExtensionNature">
      </buildpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.schmeedy.pdt.joomla.ui.project.ExtensionFileLabelDecorator"
            id="com.schmeedy.pdt.joomla.ui.ExtensionFileDecorator"
            label="Joomla! Extension File Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               <objectClass
                     name="org.eclipse.dltk.internal.core.ModelElement">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.sse.ui.StructuredTextEditor"
            contributorClass="org.eclipse.wst.sse.ui.internal.actions.ActionContributor"
            default="false"
            icon="platform:/plugin/com.schmeedy.pdt.joomla.common.ui/icons/obj16/joomla.png"
            id="com.schmeedy.pdt.joomla.ui.XMLExtensionEditor"
            name="XML Joomla! Extension Editor"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
         <contentTypeBinding
               contentTypeId="com.schmeedy.pdt.joomla.core.ExtensionManifest">
         </contentTypeBinding>
      </editor>
   </extension>
 </plugin>
