<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://joomla.org/schema/extension-manifest"
            class="com.schmeedy.pdt.joomla.manifest.model.JoomlaExtensionManifestPackage"
            genModel="model/extension-manifest.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="com.schmeedy.pdt.joomla.manifest.model.util.JoomlaExtensionManifestResourceFactoryImpl"
            contentTypeIdentifier="com.schmeedy.pdt.joomla.manifest.model.ExtensionManifest">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="com.schmeedy.pdt.joomla.manifest.model.ExtensionManifest"
            name="Joomla! Extension Manifest"
            priority="low">
      </content-type>
      <content-type
            base-type="com.schmeedy.pdt.joomla.manifest.model.ExtensionManifest"
            id="com.schmeedy.pdt.joomla.manifest.model.ComponentExtensionManifest"
            name="Joomla! Component Manifest"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="install/http://dev.joomla.org/xml/1.5/component-install.dtd">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <public
               publicId="-//Joomla! 1.5//DTD component 1.0//EN"
               uri="model/xml/component-1.5.dtd">
         </public>
         <system
               systemId="http://dev.joomla.org/xml/1.5/component-install.dtd"
               uri="model/xml/component-1.5.dtd">
         </system>
      </catalogContribution>
   </extension>

</plugin>
