<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://joomla.org/schema/extension-manifest"
            class="com.schmeedy.pdt.joomla.manifest.model.JoomlaExtensionManifestPackage"
            genModel="model/extension-manifest.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="com.schmeedy.pdt.joomla.manifest.model.util.JoomlaExtensionManifestResourceFactoryImpl"
            contentTypeIdentifier="com.schmeedy.pdt.joomla.core.ExtensionManifest">
      </parser>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <public
               publicId="-//Joomla! 1.5//DTD component 1.0//EN"
               uri="model/xml/component-1.5.dtd">
         </public>
         <system
               systemId="http://dev.joomla.org/xml/1.5/component-install.dtd"
               uri="model/xml/component-1.5.dtd">
         </system>
         <public
               publicId="-//Joomla! 1.5//DTD module 1.0//EN"
               uri="model/xml/module-1.5.dtd">
         </public>
         <system
               systemId="http://dev.joomla.org/xml/1.5/module-install.dtd"
               uri="model/xml/module-1.5.dtd">
         </system>
         <public
               publicId="-//Joomla! 1.5//DTD plugin 1.0//EN"
               uri="model/xml/plugin-1.5.dtd">
         </public>
         <system
               systemId="http://dev.joomla.org/xml/1.5/plugin-install.dtd"
               uri="model/xml/plugin-1.5.dtd">
         </system>
         <public
               publicId="-//Joomla! 1.5//DTD template 1.0//EN"
               uri="model/xml/template-1.5.dtd">
         </public>
         <system
               systemId="http://dev.joomla.org/xml/1.5/template-install.dtd"
               uri="model/xml/template-1.5.dtd">
         </system>
      </catalogContribution>
   </extension>

</plugin>
