<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.schmeedy.pdt.joomla.project.ui"
            name="Joomla!">
      </category>
      <wizard
            category="com.schmeedy.pdt.joomla.project.ui"
            class="com.schmeedy.pdt.joomla.project.ui.wizard.NewExtensionProjectWizard"
            id="com.schmeedy.pdt.joomla.project.ui.wizard1"
            name="Joomla! Extension Project"
            project="true">
      </wizard>
   </extension>

</plugin>
