<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://schmeedy.com/pdt/joomla/server"
            class="com.schmeedy.pdt.joomla.core.server.cfg.JoomlaServerConfigurationPackage"
            genModel="model/server-configuration.genmodel"/>
   </extension>
   <extension
         id="com.schmeedy.pdt.JoomlaExtensionProject"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.schmeedy.pdt.joomla.core.project.nature.JoomlaExtensionProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
